.post-author-picture {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem auto 1rem auto;
}

.for-you-feed, .navbar-brand {
    margin: auto;
}

.for-you-feed .card {
    text-align: center;
}

.for-you-feed {
    letter-spacing: 2px;
    margin-top: 70px;
}

.post-author-status {
    color: #ffbfbf;
}